@import '@willyfontenelle/dsc-design-tokens/dist/scss/mixins.scss';


.input-text{
  display: flex;
  flex-direction: column;
  min-width: 320px;
  label {
    color: var(--neutral-elements-03);
    font-size: var(--font-size-xxs);
    font-family: var(--font-family-01);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-default);
    padding-bottom: var(--spacing-size-quarck);
  }
  input{
    background-color: transparent;
    border: var(--border-width-thin) solid var(--neutral-elements-03);
    border-radius: var(--border-radius-sm);
    height: 48px;
    padding: var(--spacing-inset-size-xs);
    box-sizing: border-box;
    color: var(--neutral-elements-03);
    font-size: var(--font-size-xs);
    font-family: var(--font-family-01);
    line-height: var(--line-height-default);
    font-weight: var(--font-weight-regular);
    @include motion-token(switch-slow, '&:hover');
    &::placeholder {
      color: var(--neutral-elements-02);
    }
    &:focus{
      outline-width: 0;
      outline-color: var(--highlight-color-pure);
      outline-offset: var(--border-width-thin);
    }

  }

  &:hover{
    input {
      background-color: var(--neutral-surface-02);
    }
  }

  &--focus{
    input{
      &:focus{
        outline-width: var(--border-width-thin);
      }
    }
  }

  &--error{
    input{
      background-color: var(--feedback-color-warning-01);
      border-color: var(--feedback-color-warning-pure);
    }
  }

  &--disabled {
    label{
      color: var(--neutral-elements-01);
    }
    input{
      background-color: var(--neutral-surface-02);
      border-color: var(--neutral-elements-01);
      color: var(--neutral-elements-01);
      &::placeholder {
        color: var(--neutral-elements-01);
      }
    }
    .input-text__helper-text {
      color: var(--neutral-elements-01);
    }
  }

  &__helper-text{
    padding-top: var(--spacing-size-nano);
    color: var(--neutral-elements-03);
    font-size: var(--font-size-xxs);
    font-family: var(--font-family-01);
    line-height: var(--line-height-default);
    font-weight: var(--font-weight-regular);
  }


}