@import "../../../utils/scss/helper.scss";

:host-context([mode=dark]){
  --fill-brand: white;
}

:host-context([mode=light]){
  --fill-brand: black;
}

:host([mode=dark]){
  --fill-brand: white;
}

:host([mode=light]){
  --fill-brand: black;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding: 0 var(--spacing-size-xxs);
  background: var(--neutral-surface-01);
  height: 88px;
  @include breakpoint(tablet) {
    padding: 0 var(--spacing-size-sm);
    flex-wrap: nowrap;
  }
  &-brand{
    @include breakpoint(tablet) {
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    svg{
      path{
        fill: var(--fill-brand);
      }
    }
  }
  &-button {
    cursor: pointer;
    margin-left: auto;
    padding: var(--spacing-inset-size-xs);
    @include breakpoint(tablet) {
      display: none;
    }
  }
  &-nav{
    position: absolute;
    width: 100%;
    top: 88px;
    left: 0;
    max-height: 0;
    box-sizing: border-box;
    overflow: hidden;
    background: var(--neutral-surface-01);
    @include breakpoint(tablet) {
      padding: var(--spacing-inset-size-xs);
      width: fit-content;
      position: initial;
      height: 100%;
      max-height: initial;
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
  &--opened{
    .header-nav{
      max-height: 100vh;
    }
  }
}